<%- include('includes/head.ejs') %>
<section id="feedback" class="">
    <div class="container">
      <div class="contactinfo">
          <div>
              <h2>Contact Info</h2>
              <ul class="info">
                  <li>
                      <span><i class="fa-solid fa-location-dot"></i></span>
                      <span>Shiv Nadar University<br>
                        Delhi NCR,<br>
                        201314</span>
                  </li>
                  <li>
                      <span><i class="fa-solid fa-envelope-open-text"></i></span>
                      <span>officialdaikoku@gmail.com</span>
                  </li>
                  <li>
                      <span><i class="fa-solid fa-headset"></i></span>
                      <span>26402402845</span>
                  </li>
              </ul>
          </div>
          <ul class="sci">
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-discord"></i></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></i></a></li>
          </ul>
      </div>
      
      <div class="contactForm">
          <h2>Leave Me a Message<br>
              and I’ll Get Back to You:</h2>
          <div class="formBox">
              <div class="inputBox w50">
                  <input type="text" name="" required>
                  <span>First Name</span>
              </div>
              <div class="inputBox w50">
                  <input type="text" name="" required>
                  <span>Last Name</span>
              </div>
              <div class="inputBox w50">
                  <input type="text" name="" required>
                  <span>Email Address</span>
              </div>
              <div class="inputBox w50">
                  <input type="text" name="" required>
                  <span>Subject</span>
              </div>
              <div class="inputBox w100">
                  <textarea name="" required></textarea>
                  <span>Message</span>
              </div>
              <div class="inputBox w50">
                  <input type="submit" name="Submit" required>
              </div>
          </div>
      </div>
</div>
</section>
<%- include('includes/end.ejs') %>