<%- include('includes/head.ejs') %>
<!--
        <section id="values"></section>
        <section id="feedback" class=""></section>
-->
        <main>
                <section>
                    <h1 >Develop Real - Life </h1>
                    <h1 >Projects</h1>
                    <h3 >Smarter Preparation for a Smarter Generation</h3>
                    <a href="#"><button>Start Today</button></a>
                 </section>
        
                 <section>
                    <h1>Our Mission</h1>
                    <p>Our main focus is to bring aspiring people closer to innovation, by providing them with the tools to learn and a platform to connect with growing startups, with revolutionary ingenious ideas and the driving force of making a change. With the leading-edge technology, our ethos is focused on building a stronger ladder for the onset of their professional career.</p> 
                 </section>
        
                 <section>
                    <h1>Core Values</h1>
                    <img src="#" alt="innovation">
                    <h3>Innovation</h3>
                    <p>The first pillar of our vision is innovation. We encourage startups to put up innovative projects while also giving students the freedom to decide the project's intricacies.</p> 
                    <br>
                    <img src="#" alt="Transparency">
                    <h3>Transparency</h3>
                    <p>We are helping students connect directly with the companies and interact with them without any "secret" screening process.</p>
                    <br>
                    <img src="#" alt="Accessibility">
                    <h3>Accessibility</h3>
                    <p>We wish to help students who cant find relevant projects to work on for their resume with the added benefit of working for corporates.</p>
                  </section>
        
                  <section>
                    <h1>Trusted by Companies and Entrepreneurs</h1>
                    <h1>Throughout the Country </h1>
                    <br>
                    <img src="#" alt="San Sea">
                    <h3>San Sea</h3>
                    <h3>BELTOK</h3>
                    <h3>TED & BROOKS</h3>
                    <img src="#" alt="Milestone">
                    <h3>Milestone</h3>
                    <br>
                    <br>
                    <p>From global MNC’s to small upcoming entrepreneurs, this lot of workers are ready to offer their time to everyone. The customer service is impeccable and any minor issue is resolved impromptu. Expecting big things from these guys.</p>
                    <h5>Ansh Chawla</h5>
                    
                    <p>Daikoku gave me my first break, I had lost all hope and then I ran into them. They don’t post bold claims like 100% placements, they train you well enough that no one can say no to you. Forever grateful.</p>
                    <h5>Rohan Gupta</h5>
                    
                    <p>Daikoku introduced me to a company that I hadn’t heard of outside my nation. A company as big or even bigger than mine. They are the reason why me and Mr. Bezos are best friends. The ali baba x Amazon bakery has only made possible by Daikoku’s efforts.</p>
                    <h5>Jack Ma</h5>
                    <br>
                    <img src="#" alt="imgg">
                    <p><b><i>" If you want the rainbow, you gotta put up with the rain. ".</b></p></i>
                 </section>
        
            </main>

<%- include('includes/end.ejs') %>