<%- include('includes/head.ejs') %>
    <main>
        <h1>Chat Bot</h1>
        <h1>5000</h1>
        <h2>Python</h2>
        <% if (isAuthenticated) { %>
            <form class="projects-form" action="/p1" method="POST">
                <div class="form-control">
                    <label for="">Submission Link</label>
                    <input type="text" name="proj1" id="proj1">
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        <% } %>
    </main>

<%- include('includes/end.ejs') %>