<%- include('includes/head.ejs') %>
    <main>
        <h1>UI Design</h1>
        <h1>15000</h1>
        <h2>Adobe, FIgma, UI/UX</h2>
        <% if (isAuthenticated) { %>
            <form class="projects-form" action="/p3" method="POST">
                <div class="form-control">
                    <label for="">Submission Link</label>
                    <input type="text" name="proj3" id="proj3">
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        <% } %>
    </main>

<%- include('includes/end.ejs') %>