<%- include('includes/head.ejs') %>
    <main>
        <a href="p1" class="hover:text-liliac text-lg text-white text-regular">Chat Bot</a>
        <a href="p2" class="hover:text-liliac text-lg text-white text-regular">Code Editor</a>
        <a href="p3" class="hover:text-liliac text-lg text-white text-regular">UI Design</a>
        <a href="p4" class="hover:text-liliac text-lg text-white text-regular">Flappy Bird Game</a>
    </main>

<%- include('includes/end.ejs') %>